<div class="d-flex justify-content-center py-2 comment">
    <div class="second py-2 px-2">
        <span class="text1">{{this.comment}}</span>
        <div class="d-flex justify-content-between py-1 pt-2">
            <div class="d-flex"><img class="user__img" src="/img/perfil.png" /><small class="text2">Curtis jambesi</small>
            </div>
            <div>
            <button class="btn btn-like like-btn">
            <small>Like <i
            class="fa fa-thumbs-o-up"></i>{{this.comment_id}}</small>
            </button>
            </div>
        </div>
    </div>
</div>