<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">{{substr "12" userInfo.user.username}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/account">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Favorites</a>
      </li>
     {{# if userInfo.user.role  }}
                                    
      <li class="nav-item">
        <a class="nav-link" href="/account/Audio">Audio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/video">Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/book">Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/qna">Q&A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/discussion">Discussion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/feed">Feeds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/user">Users</a>
      </li>
      {{/ if  }}
    </ul>
  </div>
</nav>