<div class="card1  mt-3 p-3 d-flex justify-content-between">
    <div class="img-side">
        <img src="img/perfil.png" alt="" class="feed-thumb"/>
    </div>
    <div class="content-side">
        <div class="d-flex justify-content-between">
            <small>Rosh Richard</small>
            <small>23-07-2022</small>
        </div>
        <div class="">
            <p class="feed-title">{{ this.name }}</p>
        </div>
    </div>
</div>