<div class="meeting-item">
    <div class="thumb">
        <div class="price">
        <span>Tsh {{ this.price }}</span>
        </div>
        <a href="/video/sjdjhsdds-dsdjhdjsd-sdmsdsd-sdhhjsdhj-12345"><img src="/img/portfolio/thumbnails/{{this.image}}" alt="{{this.name}}"></a>
    </div>
    <div class="down-content">
        <a href="/video/sjdjhsdds-dsdjhdjsd-sdmsdsd-sdhhjsdhj-12345"><h4>{{ this.name }}</h4></a>

        <div class="d-flex justify-content-between">
            <small><img src="/img/perfil.png" alt="" class="user__img"/> Richard Mlimila</small>
            <button class="btn video-heart">
                <span class="fa fa-heart"></span>
            </button>
        </div>
    </div>
    
</div>