<div class="container main-page">
   {{>dashbord_menu  }}

   <div class="row mt-3">
      <div class="col-sm-12 col-md-4 col-12">
         <div class="card">
            user profile
            <a class="btn btn-secondary" href="/logout">logout</a>
         </div>
      </div>

      <div class="col-sm-12 col-md-4 col-12">
         <div class="card">
            subsscriptio details
         </div>
      </div>

      <div class="col-sm-12 col-md-4 col-12">
         <div class="card">
            change password
            <p>{{ session.user }}</p>
         </div>
      </div>        
      

   </div>

</div>

