<div class="container main-body">
    <h2 class="text-center">Audio courses</h2>
    <div class="row">
        {{#each audios }}
       <div class="col-sm-6 col-md-4 col-12">
           {{>audio }}
       </div>
       {{/each  }}
   </div>
</div> 