<div class="container main-body">
    <h2 class="text-center mb-3">Available Books</h2>
    <div class="row">
        {{#each books }}
       <div class="col-md-4 col-sm-6 col-12">
           {{>book }}
       </div>
       {{/each  }}
   </div>
</div> 