<div class="container main-body">
    <h2 class="text-center mb-3">Hot Topics Discussion</h2>
    <div class="row">
       <div class="col-sm-12 col-md-8">
            {{#each discussions }}
            <div class="col-12">
                    {{>discussion }}
            </div>
            {{/each  }}
       </div>
       <div class="col-sm-12 col-md-4">

       </div>
   </div>
</div>
