<div class="container main-body">
    <h2 class="text-center mb-3">Available Feeds</h2>
    <div class="row">
        {{#each feeds }}
       <div class="col-md-6 col-sm-12 col-12">
           <a href="http://">
              {{>feed }}
           </a>
       </div>
       {{/each  }}
   </div>
</div> 