<div class="container main-body">
    <h2 class="text-center mb-3">Questions and Answers</h2>
    <div class="row">
       <div class="col-sm-12 col-md-8">
            {{#each qnas }}
            <div class="col-12">
                    {{>qna }}
            </div>
            {{/each  }}
       </div>
       <div class="col-sm-12 col-md-3">

       </div>
   </div>
</div>


    <button class="ask-btn">
        <span class="fa fa-pencil"></span>
        <small>uliza</small>
    </button>