<div class="container main-body">
    <h2 class="text-center mb-3">Video courses</h2>
    <div class="row">
        {{#each videos }}
       <div class="col-sm-6 col-md-4 col-12">
           {{>video }}
       </div>
       {{/each  }}
   </div>
</div> 